@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 41% 95%; /* Soft Pink-White #F6F4F2 */
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 338 78% 78%; /* Pink - #F4C2C2 */
    --primary-foreground: 240 5.9% 10%;

    --beauty-primary: 338 78% 78%; /* Pink */
    --beauty-primary-foreground: 240 10% 10%;

    --spa-primary: 45 61% 57%;
    --spa-primary-foreground: 240 10% 10%;
 
    --secondary: 0 0% 96.1%; /* Light Gray */
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 338 78% 90%; /* Lighter Pink for accents */
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 338 78% 78%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
    background: linear-gradient(270deg, hsl(var(--primary)), hsl(var(--accent)), #ffffff, hsl(var(--primary)));
    background-size: 600% 600%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
